body{
    background-color: black;
    font-size: x-large;
}

.super-post{
    display: flex;
    justify-content: center;
    align-items: center;
}

.post{
    background-color: white;
    height: 750px;
    width: 600px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  
}

.header{
    display: flex;
    height: 10%;
    position: relative;
    justify-content: space-between;
}

#img-info{
    display: flex;
    justify-content: center;
    align-items: center;
}

#img-html5{
    display: flex;
    padding-left: 10px;
}

#title-text{
    display: block;
    padding-left: 5px;
}

.botones{
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}

#options{
    justify-content: end;
    display: flex;
    padding: 5%;
}


#opciones{
    display: flex;
    padding-left: 10px;
    float: left;
}

#guardar{
    justify-content: end;
    display: flex;
padding-right: 20px;
padding-top: 15px;
}

.post-body{
    text-align: left;
    margin: 10px;
}

#img-post{
    height: 450px;
    width: 100%;
}

#img-opciones{
    height: 40px;
    width: 20px;
    align-content: center;
    padding: 5px;
}

.fa-regular fa-heart{
    height: 50px;
    width: ;
}